@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  box-sizing: border-box;
}
/*HOME PAGE*/
#main {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("bg.jpg");
}

nav {
  width: 100%;
  position: fixed;
  height: 80px;
  line-height: 70px;
  background-color: #000;
}

nav ul {
  margin-right: 90px;
  float: right;
  margin-right: 90px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  transition: 0.8s;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
nav li a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

li a:hover {
  color: #ffff00;
}

nav.black {
  background: #000;
  z-index: 1;
  line-height: 80px;
}

.title {
  position: absolute;
  top: 30%;
  right: 5%;
  opacity: 1;
  z-index: 3;
}
.title h1 {
  color: white;
  font-size: 55px;
}
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.mainBTN {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  background-color: yellow;
  color: black;
  height: 35px;
  font-size: 19px;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*LOGIN PAGE */
.btn {
  width: 100%;
  background: none;
  border: 2px solid black;
  color: black;
  padding: 5px;
  cursor: pointer;
  font-size: 19px;
}

.site-titles {
  font-size: 4rem;
  color: black;
  font-weight: 530;
  text-align: center;
}

.login-box {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  box-shadow: 3px 3px 10px grey;
  padding: 10px 10px 10px 10px;
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #241571;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid black;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

/*REGISTRATION PAGE*/
.input-details {
  width: 50%;
  box-shadow: 3px 3px 10px lightgrey;
  padding: 10px 10px 10px 10px;
  margin-top: 6%;
  margin-left: 25%;
}
.input-details input[type="text"],
.input-details input[type="email"],
.input-details input[type="password"] {
  width: 90%;
  padding: 5px 5px 5px 5px;
  height: 35px;
  margin-top: 15px;
}

/*SEARCH JOB PAGE*/
#bodyofSite {
  margin-top: 7%;
  text-align: center;
}
.job-detail {
  margin-top: 20px;
  margin-left: 25%;
  height: 150px;
  width: 50%;
  box-shadow: 3px 3px 10px lightgrey;
  padding: 10px 10px 10px 10px;
  text-align: left;
}
.companyName {
  font-size: 24px;
  font-weight: 700;
}
.job-detail:nth-child(odd) {
  background-color: rgb(233, 227, 227);
}

.Skils {
  background-color: lightgrey;
  width: 50px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
}

select {
  width: 40%;
  padding: 10px 10px 10px 10px;
  font-size: 19px;
}

#search {
  background-color: rgb(8, 105, 231);
  border: none;
  height: 40px;
  width: 100px;
  font-size: 19px;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/*DASHBOARD*/
.update-details {
  width: 50%;
  box-shadow: 3px 3px 10px lightgrey;
  padding: 10px 10px 10px 10px;
  margin-top: 6%;
  margin-left: 25%;
}
.update-details input[type="text"],
.update-details input[type="email"],
.update-details input[type="password"] {
  width: 50%;
  padding: 5px 5px 5px 5px;
  height: 35px;
  margin-top: 15px;
}

.update-details input[type="submit"] {
  height: 40px;
  margin-top: 10px;
  width: 100px;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
  background-color: yellow;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

/*DETAILS PAGE*/
table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table .fa {
  color: red;
}
